on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

    # Give permissions to pcc_override path
    chown system system /sys/kernel/oppo_display/skip_pcc_override
    chmod 0666 /sys/kernel/oppo_display/skip_pcc_override
